@import url('utilities/index.css');
@import url('components/modal-wrapper.css');
@import url('components/card-wrapper.css');
@import url('components/sell-wrapper.css');
@import url('components/sbutton.css');
@import url('components/asset-anchor.css');
@import url('components/img-wrapper.css');
@import url('components/gallery-wrapper.css');
@import url('components/near.css');
@import url('components/price-wrapper.css');
@import url('components/btn.css');
@import url('components/welcome.css');
@import url('components/main.css');
@import url('components/form-wrapper.css');
@import url('components/market-wrapper.css');
@import url('components/container.css');
@import url('components/box.css');
@import url('components/navbar.css');
@import url('components/list.css');
@import url('components/form-control.css');
@import url('components/centreland.css');
@import url('components/footer.css');
@font-face {
  font-family: 'Inter';
  src: url('./fonts/static/Inter-Regular.ttf') format('ttf'),
    url('./fonts/static/Inter-Medium.ttf') format('ttf');
}

html,
body,
#root,

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0.9375rem 1.875rem 0.9375rem;
}

.s-title {
  margin-bottom: 0.3125rem;
}

.s-description {
  color: #C1C1C1;
  text-align: center;
}

.username {
  padding: .2rem;
}