.btn {
  display: inline-block;
  background-color: #33cc99;
  border-radius: 30px;
  color: #ffff;
  height: 50px;
  font-weight: 500;
  width: 150px;
  border: 2px solid transparent;
  line-height: 1.9;
  font-size: 13px;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  border-color: #656566;
  background-color: #656566;
}
._btn {
  box-shadow: none;
  border: none;
}

._btn:hover {
  background-color: #656566;
  border-color: #656566;
  color: #fff;
}