name: compile frontend

on:
  push:
    branches:
      - main

jobs:
  create_env_file_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create .env file
        uses: ozaytsev86/create-env-file@v1
        with:
          ENV_PD_PORT: ${{ secrets.PD_PORT }}
          ENV_PD_MAPBOX_KEY: ${{ secrets.PD_MAPBOX_KEY }}
          ENV_PD_API: ${{ secrets.PD_API }}

  create-deployment-artifacts:
    name: Create deployment artifact
    runs-on: ubuntu-latest
    environment: REACT_APP_MAPBOX_KEY
    steps:
      - uses: actions/checkout@v2
      - name: Create .env file
        uses: ozaytsev86/create-env-file@v1
        with:
          INPUT_ENV_PORT: ${{ secrets.PD_PORT }}
          INPUT_ENV_REACT_APP_MAPBOX_KEY: ${{ secrets.PD_MAPBOX_KEY }}
          INPUT_ENV_REACT_APP_API: ${{ secrets.PD_API }}
      - name: Create deployment artifact
        env:
          GITHUB_SHA: ${{ github.sha }}
          PORT: ${{ secrets.PD_PORT }}
          REACT_APP_MAPBOX_KEY: ${{ secrets.PD_MAPBOX_KEY }}
          REACT_APP_API: ${{ secrets.PD_API }}
        run: |
          cat .env
          npm i
          npm run build:web
          tar -czf "${GITHUB_SHA}".tar.gz --exclude=*.git --exclude=node_modules dist

      - name: Store artifact for distribution
        uses: actions/upload-artifact@v2
        with:
          name: Build-FrontEnd
          path: ${{ github.sha }}.tar.gz
  prepare-release-on-servers:
    name: Prepare release
    runs-on: ubuntu-latest
    needs: create-deployment-artifacts
    steps:
      - uses: actions/download-artifact@v2
        with:
          name:  Build-FrontEnd
      - name: Upload
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.PROD_HOST_FRONTEND }}
          username: ${{ secrets.PROD_HOST_FE_USERNAME }}
          password: ${{ secrets.PROD_HOST_FE_PASSWORD }}
          source: ${{ github.sha }}.tar.gz
          target: artifacts
      - name: connect server
        uses: appleboy/ssh-action@master
        env:
          GITHUB_SHA: ${{ github.sha }}
        with:
          host: ${{ secrets.PROD_HOST_FRONTEND }}
          username: ${{ secrets.PROD_HOST_FE_USERNAME }}
          password: ${{ secrets.PROD_HOST_FE_PASSWORD }}
          envs: GITHUB_SHA
          script: |
            mkdir -p "releases/${GITHUB_SHA}"
            tar xzf artifacts/${GITHUB_SHA}.tar.gz -C "releases/${GITHUB_SHA}"
            rm -r /var/www/html/* 2> /dev/null
            cp -r releases/${GITHUB_SHA}/dist/* /var/www/html/
